.vertical-center {
    min-height: 100%;
    min-height: 80vh;
    margin-top: 50px
    // display: flex;
    // align-items: center;
    // @media screen and (max-width: 768px) {
    //   justify-content: center;
    // }
  }